/* FAV V2 EXP */
.iconContainerWithGuildIcon__2ea32 {
    .icon__2894c {
        margin-left: 0px;
        margin-top: 0px;
        width: 20px;
        height: 20px;
        background: none !important;

        >path {
            filter: drop-shadow(-1px 0 0px var(--background-base-lowest)) drop-shadow(1px 0 0px var(--background-base-lowest)) drop-shadow(0px 1px 0px var(--background-base-lowest)) drop-shadow(0px -1px 0px var(--background-base-lowest));
        }
    }

    .svg__2338f {
        position: absolute;
        top: -6px;
        left: -10px;
        overflow: visible !important;
        width: calc(28px + var(--space-xxs) + var(--space-xxs));
        height: calc(28px + var(--space-xxs) + var(--space-xxs));
        contain: none;

        foreignObject {
            mask: none !important;
            overflow: hidden !important;
            border-radius: var(--radius-sm) 0 0 var(--radius-sm) !important;
            width: calc(28px + var(--space-xxs) + var(--space-xxs)) !important;

            .channelGuildIcon__2894c {
                position: absolute;
                top: calc(0px - var(--space-xxs) - var(--space-xxs));
                width: calc(28px + var(--space-xxs) + var(--space-xxs)) !important;
                height: calc(28px + var(--space-xxs) + var(--space-xxs)) !important;
                mask-image: linear-gradient(to right, black 0%, transparent 100%);
                border-radius: 0px !important;
            }
        }


    }
}

.modeSelected__2ea32 .iconWithGuildIcon__2ea32 {
    color: var(--header-primary)
}

/* Plain Folder Icon Size Pastel */
.expandedFolderIconWrapper__48112 svg {
  display: none;
}
.expandedFolderIconWrapper__48112::after,
.closedFolderIconWrapper__48112::after {
  content: "";
  background-color: var(--bg-3);
  width: 24px;
  height: 24px;
  position: absolute;
  clip-path: path("M2 8V6.25A3.25 3.25 0 0 1 5.25 3h2.879a2.25 2.25 0 0 1 1.59.659l1.531 1.53L8.659 7.78a.75.75 0 0 1-.53.22zm0 1.5v8.25A3.25 3.25 0 0 0 5.25 21h13.5A3.25 3.25 0 0 0 22 17.75v-9a3.25 3.25 0 0 0-3.25-3.25h-5.69L9.72 8.841a2.25 2.25 0 0 1-1.591.659z");
  transition: opacity 0.2s ease;
}
.closedFolderIconWrapper__48112:hover::after {
  opacity: 0;
}
.closedFolderIconWrapper__48112 > .guildIcon__48112 {
  opacity: 0.5;
  filter: blur(1px);
  transition: opacity 0.2s ease, filter 0.2s ease !important;
}
.closedFolderIconWrapper__48112:hover > .guildIcon__48112 {
  opacity: 1;
  filter: blur(0px);
}
.theme-dark .folder__48112[aria-expanded="false"] {
  background-color: var(--bg-3);
}



