/* Change Some Icon */
/* Inbox */
path[d="M5 2a3 3 0 0 0-3 3v14a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V5a3 3 0 0 0-3-3H5ZM4 5.5C4 4.67 4.67 4 5.5 4h13c.83 0 1.5.67 1.5 1.5v6c0 .83-.67 1.5-1.5 1.5h-2.65c-.5 0-.85.5-.85 1a3 3 0 1 1-6 0c0-.5-.35-1-.85-1H5.5A1.5 1.5 0 0 1 4 11.5v-6Z"] {
    d: path("M22 19.206V12c0-5.523-4.477-10-10-10S2 6.477 2 12v7.206a1.727 1.727 0 0 0 2.5 1.544a2.89 2.89 0 0 1 2.896.18a2.89 2.89 0 0 0 3.208 0l.353-.234a1.88 1.88 0 0 1 2.086 0l.353.235a2.89 2.89 0 0 0 3.208 0a2.89 2.89 0 0 1 2.897-.18A1.727 1.727 0 0 0 22 19.206M16 10.5c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5s.448-1.5 1-1.5s1 .672 1 1.5M9 12c.552 0 1-.672 1-1.5S9.552 9 9 9s-1 .672-1 1.5s.448 1.5 1 1.5") !important;
}

/* Fav bar Server List */
path[d="M10.81 2.86c.38-1.15 2-1.15 2.38 0l1.89 5.83h6.12c1.2 0 1.71 1.54.73 2.25l-4.95 3.6 1.9 5.82a1.25 1.25 0 0 1-1.93 1.4L12 18.16l-4.95 3.6c-.98.7-2.3-.25-1.92-1.4l1.89-5.82-4.95-3.6a1.25 1.25 0 0 1 .73-2.25h6.12l1.9-5.83Z"] {
    d: path("m12 12l7.4 6.7a10 10 0 1 1 0-13.4Zm6 0h.01M22 12h.01") !important;
}

/* Favourite bar (title bar) */
path[d="M2.07 10.94a1.25 1.25 0 0 1 .73-2.25h6.12l1.9-5.83c.37-1.15 2-1.15 2.37 0l1.89 5.83h6.12c1.2 0 1.71 1.54.73 2.25l-4.95 3.6 1.9 5.82a1.25 1.25 0 0 1-1.93 1.4L12 18.16l-4.95 3.6c-.98.7-2.3-.25-1.92-1.4l1.89-5.82-4.95-3.6Zm11.55-.25h5.26l-4.25 3.09 1.62 5-4.25-3.1-4.25 3.1 1.62-5-4.25-3.1h5.26l1.62-5 1.62 5Z"] {
    d: path("M12 2a9 9 0 0 1 9 9v8.62c0 1.83-1.966 2.987-3.565 2.099l-.363-.195c-1-.512-1.784-.68-2.889-.114l-.198.108a4 4 0 0 1-3.762.11l-.208-.11c-1.277-.73-2.166-.512-3.45.2c-1.6.89-3.565-.267-3.565-2.097V11a9 9 0 0 1 9-9M8.5 9a1.5 1.5 0 1 0 0 3a1.5 1.5 0 0 0 0-3m7 0a1.5 1.5 0 1 0 0 3a1.5 1.5 0 0 0 0-3") !important;
    fill-rule: evenodd;
}

/* Search */
path[d="M15.62 17.03a9 9 0 1 1 1.41-1.41l4.68 4.67a1 1 0 0 1-1.42 1.42l-4.67-4.68ZM17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z"] {
    d: path("M5 11a6 6 0 1 1 12 0a6 6 0 0 1-12 0m6-8a8 8 0 1 0 4.906 14.32l3.387 3.387a1 1 0 0 0 1.414-1.414l-3.387-3.387A8 8 0 0 0 11 3m0 12a4 4 0 1 0 0-8a4 4 0 0 0 0 8") !important;
}

/* FAV V2 EXP */
.iconContainerWithGuildIcon__2ea32 {
    .icon__2894c {
        margin-left: 0px;
        margin-top: 0px;
        width: 20px;
        height: 20px;
        background: none !important;

        >path {
            filter: drop-shadow(-1px 0 0px var(--background-base-lowest)) drop-shadow(1px 0 0px var(--background-base-lowest)) drop-shadow(0px 1px 0px var(--background-base-lowest)) drop-shadow(0px -1px 0px var(--background-base-lowest));
        }
    }

    .svg__2338f {
        position: absolute;
        top: -6px;
        left: -10px;
        overflow: visible !important;
        width: calc(28px + var(--space-xxs) + var(--space-xxs));
        height: calc(28px + var(--space-xxs) + var(--space-xxs));
        contain: none;

        foreignObject {
            mask: none !important;
            overflow: hidden !important;
            border-radius: var(--radius-sm) 0 0 var(--radius-sm) !important;
            width: calc(28px + var(--space-xxs) + var(--space-xxs)) !important;

            .channelGuildIcon__2894c {
                position: absolute;
                top: calc(0px - var(--space-xxs) - var(--space-xxs));
                width: calc(28px + var(--space-xxs) + var(--space-xxs)) !important;
                height: calc(28px + var(--space-xxs) + var(--space-xxs)) !important;
                mask-image: linear-gradient(to right, black 0%, transparent 100%);
                border-radius: 0px !important;
            }
        }


    }
}

.modeSelected__2ea32 .iconWithGuildIcon__2ea32 {
    color: var(--header-primary)
}

/* Plain Folder Icon Size Pastel */
.expandedFolderIconWrapper__48112 svg {
  display: none;
}
.expandedFolderIconWrapper__48112::after,
.closedFolderIconWrapper__48112::after {
  content: "";
  background-color: var(--bg-3);
  width: 24px;
  height: 24px;
  position: absolute;
  clip-path: path("M2 8V6.25A3.25 3.25 0 0 1 5.25 3h2.879a2.25 2.25 0 0 1 1.59.659l1.531 1.53L8.659 7.78a.75.75 0 0 1-.53.22zm0 1.5v8.25A3.25 3.25 0 0 0 5.25 21h13.5A3.25 3.25 0 0 0 22 17.75v-9a3.25 3.25 0 0 0-3.25-3.25h-5.69L9.72 8.841a2.25 2.25 0 0 1-1.591.659z");
  transition: opacity 0.2s ease;
}
.closedFolderIconWrapper__48112:hover::after {
  opacity: 0;
}
.closedFolderIconWrapper__48112 > .guildIcon__48112 {
  opacity: 0.5;
  filter: blur(1px);
  transition: opacity 0.2s ease, filter 0.2s ease !important;
}
.closedFolderIconWrapper__48112:hover > .guildIcon__48112 {
  opacity: 1;
  filter: blur(0px);
}
.theme-dark .folder__48112[aria-expanded="false"] {
  background-color: var(--bg-3);
}



