

/* MAIN FONT SORA AOI */
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@420&display=swap');
:root {
  --font-primary: "Sora", sans-serif;
  --font-display: "Sora", sans-serif;
  --font-headline: "Sora", sans-serif;
  --font-code: "Sora", monospace;
}


/* Server Name Tooltip 1 LINE */
[class^=tooltip] {
    max-width: unset !important;
}


/* Role color on profile By Refact0r*/
.role_dfa8b6.pill_dfa8b6 {
    position: relative;
    background: none;
    border: none;
    padding-left: 28px;
}

.role_dfa8b6.pill_dfa8b6 > span {
    z-index: 1;
}

.role_dfa8b6.pill_dfa8b6 .roleRemoveButton_dfa8b6 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 !important;
}

.role_dfa8b6.pill_dfa8b6 .roleCircle__4f569 {
    margin: 6px 8px;
}

.role_dfa8b6.pill_dfa8b6 .roleCircle__4f569::before {
    content: '';
    display: block;
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: var(--radius-xs);
    filter: brightness(1.1);
    opacity: 0.25;
}


/* Reduce Channel List Spacing */
[class="link__2ea32"] {
    padding-block: 1.5px;
}


/* Read All Button By Blade04208 */
.vc-ranb-button {
  margin: 0 18px;
  width: var(--guildbar-avatar-size);
  min-height: 40px;
  max-height: 40px;
  padding: 5px;
  background-color: var(--bg-3);
  border: none;
  border-radius: 12px;
}

.vc-ranb-button .contents__201d5 {
  font-size: 0;
}

.vc-ranb-button .contents__201d5::after {
  content: "asdfg";
  font-size: 18px;
  width: 16px;
  height: 16px;
  position: relative;
  color: transparent;
  top: -10px;
  left: 3.5px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23a9a9a9' fill-rule='evenodd' d='M9.707 2.409C9 3.036 9 4.183 9 6.476v11.048c0 2.293 0 3.44.707 4.067s1.788.439 3.95.062l2.33-.406c2.394-.418 3.591-.627 4.302-1.505c.711-.879.711-2.149.711-4.69V8.948c0-2.54 0-3.81-.71-4.689c-.712-.878-1.91-1.087-4.304-1.504l-2.328-.407c-2.162-.377-3.243-.565-3.95.062M12 10.169c.414 0 .75.351.75.784v2.094c0 .433-.336.784-.75.784s-.75-.351-.75-.784v-2.094c0-.433.336-.784.75-.784' clip-rule='evenodd'/%3E%3Cpath fill='%23a9a9a9' d='M7.547 4.5c-2.058.003-3.131.048-3.815.732C3 5.964 3 7.142 3 9.5v5c0 2.357 0 3.535.732 4.268c.684.683 1.757.729 3.815.732c-.047-.624-.047-1.344-.047-2.123V6.623c0-.78 0-1.5.047-2.123'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

.vc-ranb-button:hover {
  background-color: var(--accent-3);
}

.vc-ranb-button:hover .contents__201d5::after {
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M9.707 2.409C9 3.036 9 4.183 9 6.476v11.048c0 2.293 0 3.44.707 4.067s1.788.439 3.95.062l2.33-.406c2.394-.418 3.591-.627 4.302-1.505c.711-.879.711-2.149.711-4.69V8.948c0-2.54 0-3.81-.71-4.689c-.712-.878-1.91-1.087-4.304-1.504l-2.328-.407c-2.162-.377-3.243-.565-3.95.062M12 10.169c.414 0 .75.351.75.784v2.094c0 .433-.336.784-.75.784s-.75-.351-.75-.784v-2.094c0-.433.336-.784.75-.784' clip-rule='evenodd'/%3E%3Cpath fill='%23000' d='M7.547 4.5c-2.058.003-3.131.048-3.815.732C3 5.964 3 7.142 3 9.5v5c0 2.357 0 3.535.732 4.268c.684.683 1.757.729 3.815.732c-.047-.624-.047-1.344-.047-2.123V6.623c0-.78 0-1.5.047-2.123'/%3E%3C/svg%3E");
}


/* Move Vencord Toolbox */
.visual-refresh .toolbar__9293f .iconWrapper__9293f {
  margin: 0;
  order: -1;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.visual-refresh .toolbar__9293f .iconWrapper__9293f:hover {
  transform: scale(1.1);
  opacity: 0.8;
}


/* Vencord Toolbox Icon */
.vc-toolbox-btn,
.vc-toolbox-icon {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z'/%3E%3Cpath fill='%23aeaeae' d='M7.527 2.657a7.001 7.001 0 0 1 8.26 9.347l4.599 3.893a3.3 3.3 0 1 1-4.651 4.65l-3.891-4.597a7.001 7.001 0 0 1-9.35-8.26a1.01 1.01 0 0 1 1.72-.432l3.045 3.307l2.297-.845l.847-2.3l-3.309-3.04a1.01 1.01 0 0 1 .433-1.723'/%3E%3C/g%3E%3C/svg%3E");
  scale: 0.67;
  right: 5px;
}


/* Add Background Color Discover */
.circleIconButton__5bc7e {
  background-color: var(--bg-3);
}


/* UI CLEANUP – REMOVE UNWANTED STUFF */

/* Remove Certain Message Actions */
[aria-label*="Create Thread"],
[aria-label*="Mark Unread"],
[aria-label*="Copy Link"],
[aria-label*="Pin Message"],
[aria-label*="Copy Message ID"] {
    display: none;
}


/* Remove Create Invite & Channel Buttons */
[class^="iconVisibility_"] [aria-label="Create Invite"],
[class^="iconVisibility_"] [aria-label="Edit Channel"],
[class^="iconVisibility_"] [aria-label="Create Channel"] {
    display: none !important;
}


/* Remove App Edit Image Button */
div[aria-label="Edit Image with Apps"] {
    display: none;
}


/* Remove Active Now Activities */
[class^=nowPlayingColumn_] {
    display: none;
}


/* Remove Reaction Right-Click Menu */
[id^="message-quickreact-"] {
    display: none !important;
}
#message>div>.wrapper_f563df {
  display: none;
}


/* Hide Member List Activities */
[class*='membersGroup']:has([role=button]),
[class*='member'] [class*='container']:has([class*='badges']) {
  display: none;
}


/* Collapse Icon Fix (channel list)*/
.containerDefault__29444 {
  > div {
    padding-left: 0.5em;

    > div {
      display: flex !important;
      place-content: start !important;
      flex-direction: row-reverse !important;
    }
  }
}


/* Vencord MemberCount Tweaks */
/* This module has no affect unless the vencord MemberCount plugin is installed */
.vc-membercount-online-dot,
.vc-membercount-total-dot {
    display: none !important;
}

.vc-membercount-total::before {
    content: "/";
    visibility: visible;
    position: absolute;
    display: contents;
}

.vc-membercount-total::after {
    content: " online";
    visibility: visible;
    position: absolute;
    display: contents;
}

.membersGroup_c8ffbb.container_cc72c1 {
    padding-top: 20px;
}


/* Add Today Timestamp */
span[class*="timestamp_"] > [aria-label^="Today at"]::before {
    content: "Today at "
}





/* MemberList Resize */
.member__5d473 { 
    margin-left: -4px;
}


/* Hide Reply & Send Reaction Buttons Profile */
.avatarPopover__2d0ab {
display: none!important;
}


/*i'm new here, say hi!*/
[class*=newMemberBadge]:before {
    content: url(https://files.catbox.moe/q4oi4j.png?size=64&quality=lossless);
    transform: translate(-100%, -110%);
    display: inline-block;
    scale: 0.32;
}
.iconContainer_c00127 {
    content: url(https://files.catbox.moe/q4oi4j.png?size=64&quality=lossless);
    display: inline-block;
}


/* Link Hover with Badge by Refactor */
:root {
    --list-item-transition: 0.2s ease;
}
.wrapper__2ea32 .link__2ea32 {
  transition: margin-left var(--list-item-transition);
}
.unread__2ea32 {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: var(--accent-3);
  transition: transform var(--list-item-transition), background var(--list-item-transition);
}
.wrapper__2ea32:hover .link__2ea32 {
  margin-left: 5px;
  opacity: 0.9;
}
.wrapper__2ea32:hover .unread__2ea32 {
  transform: scale(1.2);
  background: url('https://files.catbox.moe/q4oi4j.png?size=80') no-repeat center / contain;
}

/* This will change the colour of the CURRENT channel you are in */
.modeSelected__2ea32 .name__2ea32 {     
    color: var(--accent-2);
}

/* Hide Quests on UserPanel */
section[class^="panels_"]>div[class^="mask_"] {
  display: none;
}


/* SEARCH BAR --------------------------- */
/* PRETTIER SEARCH BAR */
.icon__97492 {
    cursor: pointer;
}
.search__49676:not(:focus-within) .searchBar__97492 {
    cursor: pointer;
    border: transparent;
    background: transparent;
    width: 30px;
    align-items: center;
    transition: width 0.3s ease, background 0.3s ease, border 0.3s ease;
}
.search__49676 .iconContainer_fea832 {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    position: absolute;
    right: 0;
    cursor: pointer;
}
.search__49676 .iconContainer_fea832:hover * {
    color: var(--icon-secondary);
}
.search__49676:focus-within .searchBar__97492 {
    border: 1px solid var(--border-subtle);
    background: rgba(0, 0, 0, 0.2);
    width: 244px;
    align-items: center;
    transition: width 0.3s ease, background 0.3s ease, border 0.3s ease;
}

/* Pinned Page Switcher */
[class^=searchResultsWrap_] [class^=container_]:has([class^=pageControlContainer_]){
  position: sticky;
  bottom: 10px;
  z-index: 999;
  border-radius: 10px;
  background: var(--bg-overlay-1, var(--background-secondary));
}


/* EMOJI -------------------- */
/* remove reaction emoji */
[class^=hoverBarButton_][aria-label^="Click to react"], [class^=separator_] {
  display: none !important;
}

/* Hover Emoji */
.buttons__74017 {
  gap: 0 !important;
  pointer-events: none;
}
.buttons__74017:hover {
  pointer-events: all;
}

.buttons__74017 > button {
  display: none;
}

.channelAppLauncher_e6e74f.channelAppLauncher_e6e74f {
  display: none;
}

.expression-picker-chat-input-button {
  pointer-events: none;
  opacity: 0;
  transform: translateX(4px);
  transition: .2s ease;
}
.buttons__74017:hover .expression-picker-chat-input-button {
  pointer-events: all;
  opacity: 1;
  transform: none;
}
.expression-picker-chat-input-button:has(.emojiButton__04eed) {
  pointer-events: all;
  opacity: 1 !important;
  transform: none !important;
}

/* EXPAND EMOJI (CHAR BAR) */
.layerContainer_da8173 .positionLayer__08434 {
  width: 100vw;
  height: 100vh !important;
  left: 0px;
  bottom: 0px !important;
  align-items: center !important;
  align-content: center !important;
  background-color: rgba(0, 0, 0, 0.5);
}

.drawerSizingWrapper__08434 {
  justify-self: center !important;
  align-self: center !important;
  right: 20vw !important;
  left: 20vw !important;
  top: 60vh !important;
  bottom: 20vh !important;
  height: 50vh;
  width: 50vw !important;
}
